<div class="row">
    <div class="col-6">
        <a class="btn-neon text-center">
            <span id="span1"></span>
            <span id="span2"></span>
            <span id="span3"></span>
            <span id="span4"></span>
            <p style="margin-right: 0px;">Hola, {{userName}}</p>
        </a>
    </div>

    <div class="coins justify-content-center">
        <span class="coin">{{coins | currency }}</span>
        <img src="assets\icon\riot-points.png" alt="coins">
        <span class="level" style="margin-left: 8px;">{{level }}</span>
    </div>
    

</div>